# Environment settings
NODE_ENV=development
PORT=8000

# DB Configurations
DB_HOST=localhost
DB_PORT=5432
DB_NAME=content_broadcasting
DB_USER=postgres
DB_PASSWORD=admin
DB_DIALECT=postgres

# Authentication settings
JWT_SECRET=ogxsdag12ehibxqs
JWT_EXPIRE=7d

# File upload settings
MAX_FILE_SIZE=10485760

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=content-broadcast

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_pasword